services:
    backend:
      build:
        context: /your/path/to/subly/backend
        dockerfile: Dockerfile
      ports:
        - "5071:5071"
      environment:
        - NODE_ENV=production
        - PORT=5071
        - MONGODB_URI=your_mongodb_uri_here
        - JWT_SECRET=your_jwt_secret_here
        - FRONTEND_URL=your_frontend_url_here
        - RESEND_API_KEY=your_resend_api_key_here
        - VAPID_PUBLIC_KEY=your_vapid_public_key_here
        - VAPID_PRIVATE_KEY=your_vapid_private_key_here
        - VAPID_SUBJECT=mailto:noreply@subly.app
        - TZ=Europe/Paris
      volumes:
        - /your/path/to/subly/backend/uploads:/app/uploads
      restart: unless-stopped

    frontend:
      build:
        context: /your/path/to/subly/frontend
        dockerfile: Dockerfile
        args:
          - VITE_API_URL=your_url_here
      ports:
        - "3000:80"
      depends_on:
        - backend
      restart: unless-stopped